.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // margin-left: auto;
  // margin-right: auto;
}
.clients-list__element {
  margin-left: auto;
  margin-right: auto;
  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-list__item {
  border: 1px solid var(--social-networks-icon);
  border-radius: 4px;
  width: 210px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--social-networks-icon);

  transition: border-color var(--time) var(--cubic),
    color var(--time) var(--cubic);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-text-color);
    color: var(--accent-text-color);
    cursor: pointer;
    transition: border-color var(--time) var(--cubic),
      color var(--time) var(--cubic);
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.logo-clients {
  fill: currentColor;
}
