.section-footer {
  background-color: var(--accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.container.footer {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.add-flex {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 0;
  }
}
.social-networks-footer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-bottom: 0;
  }
}
.social-networks-footer-title {
  display: block;
  text-align: center;
  margin-bottom: 20px;

font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-color);
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-item {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-color);
}

.logo.footer {
  display: inline-block;
  padding-bottom: 0;
  padding-top: 0;
  display: block;
  text-align: center;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.logo .accent {
  color: var(--primary-color);
}
.address-nav {
  margin-top: 20px;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
  }
}
.contacts.footer > li:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.contacts.footer > li:not(:first-child) {
  display: block;

  color: var(--address-color);
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;

  transition: color var(--time) var(--cubic);
}

.address {
  color: var(--primary-color);
  text-decoration: none;
  font-style: normal;
  line-height: 1.7;
  text-align: center;
  display: block;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.contacts-link-footer {
  color: var(--address-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
  display: block;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.mailing-block {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 0;
    margin-left: 93px;
  }
}
.mailing-input {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  height: 50px;

  border-radius: 4px;
  font-size: 14px;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.25;
  outline: transparent;

  background-color: transparent;
  padding-left: 16px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    outline-color: none;
  }
  &:focus {
    outline: transparent;
    border-color: var(--primary-text-color);
    cursor: pointer;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-left: 0;
    margin-right: 0;
  }
}

.btn-footer {
  /* width: 200px; */
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  display: flex;
  justify-content: space-around;
  height: 50px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.icon-mailing {
  fill: var(--primary-color);
  margin-left: 10px;
}
.input-block {
  display: block;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.mailing-input-block {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0;
  }
}
